.iching-button-wrapper {
    text-align: center;
}

.iching-buttons {
    padding: 6px 12px;
    font-size: 18px;
    color: #fff;
    background-color: #000;
    border-radius: 6px;
    border: 2px solid #000;
    cursor: grab;
    text-decoration: none;
}
